<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzp.copyui" >
    <application>

        <activity android:name=".transition.CarActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".transition.GarageActivityNew"
            android:theme="@style/transparentTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".message.MessageActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".tabmanager.TabManagerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".gallery.GalleryActivity" />
    </application>
</manifest>
